In [1]:
import numpy as np
import pandas as pd 
import os
import shutil
import matplotlib.pyplot as plt

In [2]:
#reading the data
df=pd.read_csv("Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv")

In [3]:
df.columns

Index(['Data as of', 'Start week', 'End Week', 'State', 'Sex', 'Age group',
       'COVID-19 Deaths', 'Total Deaths', 'Pneumonia Deaths',
       'Pneumonia and COVID-19 Deaths', 'Influenza Deaths',
       'Pneumonia, Influenza, or COVID-19 Deaths', 'Footnote'],
      dtype='object')

In [4]:
df.describe()

,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,1117.000000,1231.000000,1099.000000,1080.000000,889.000000,1072.000000
mean,392.071620,5431.272136,568.961783,177.848148,53.065242,851.514925
std,2844.711975,40164.703569,4013.662047,1270.560239,342.571187,5938.021238
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,52.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,327.000000,30.000000,0.000000,0.000000,44.500000
75%,61.000000,1748.000000,166.000000,26.000000,19.000000,231.250000
max,54861.000000,835607.000000,78266.000000,24147.000000,6110.000000,114209.000000

In [5]:
df.head()

,Data as of,Start week,End Week,State,Sex,Age group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,5/13/20,2/1/20,5/9/20,United States,All Sexes,Under 1 year,4.0,4258.0,37.0,1.0,11.0,51.0,NaN
1,5/13/20,2/1/20,5/9/20,United States,All Sexes,1-4 years,2.0,832.0,33.0,2.0,35.0,68.0,NaN
2,5/13/20,2/1/20,5/9/20,United States,All Sexes,5-14 years,6.0,1223.0,41.0,0.0,43.0,90.0,NaN
3,5/13/20,2/1/20,5/9/20,United States,All Sexes,15-24 years,59.0,7452.0,157.0,21.0,42.0,234.0,NaN
4,5/13/20,2/1/20,5/9/20,United States,All Sexes,25-34 years,388.0,15975.0,556.0,170.0,135.0,896.0,NaN

In [6]:

df.rename(columns={'Start week':'Start_week','End Week':'End_Week','Age group':'Age_group','COVID-19 Deaths':'COVID-19_Deaths',
                   'Total Deaths':'Total_Deaths','Pneumonia Deaths':'Pneumonia_Deaths','Pneumonia and COVID-19 Deaths':'Pneumonia_COVID-19_Deaths',
                     'Influenza Deaths':'Influenza_Deaths','Pneumonia, Influenza, or COVID-19 Deaths': 'P_I_C_deaths'}, inplace=True)

In [7]:
df.State.unique()

array(['United States', 'United States Total', 'Alabama', 'Alabama Total',
       'Alaska', 'Alaska Total', 'Arizona', 'Arizona Total', 'Arkansas',
       'Arkansas Total', 'California', 'California Total', 'Colorado',
       'Colorado Total', 'Connecticut', 'Connecticut Total', 'Delaware',
       'Delaware Total', 'District of Columbia',
       'District of Columbia Total', 'Florida', 'Florida Total',
       'Georgia', 'Georgia Total', 'Hawaii', 'Hawaii Total', 'Idaho',
       'Idaho Total', 'Illinois', 'Illinois Total', 'Indiana',
       'Indiana Total', 'Iowa', 'Iowa Total', 'Kansas', 'Kansas Total',
       'Kentucky', 'Kentucky Total', 'Louisiana', 'Louisiana Total',
       'Maine', 'Maine Total', 'Maryland', 'Maryland Total',
       'Massachusetts', 'Massachusetts Total', 'Michigan',
       'Michigan Total', 'Minnesota', 'Minnesota Total', 'Mississippi',
       'Mississippi Total', 'Missouri', 'Missouri Total', 'Montana',
       'Montana Total', 'Nebraska', 'Nebraska Total', 'Nevada',
       'Nevada Total', 'New Hampshire', 'New Hampshire Total',
       'New Jersey', 'New Jersey Total', 'New Mexico', 'New Mexico Total',
       'New York', 'New York Total', 'New York City',
       'New York City Total', 'North Carolina', 'North Carolina Total',
       'North Dakota', 'North Dakota Total', 'Ohio', 'Ohio Total',
       'Oklahoma', 'Oklahoma Total', 'Oregon', 'Oregon Total',
       'Pennsylvania', 'Pennsylvania Total', 'Rhode Island',
       'Rhode Island Total', 'South Carolina', 'South Carolina Total',
       'South Dakota', 'South Dakota Total', 'Tennessee',
       'Tennessee Total', 'Texas', 'Texas Total', 'Utah', 'Utah Total',
       'Vermont', 'Vermont Total', 'Virginia', 'Virginia Total',
       'Washington', 'Washington Total', 'West Virginia',
       'West Virginia Total', 'Wisconsin', 'Wisconsin Total', 'Wyoming',
       'Wyoming Total', 'Puerto Rico', 'Puerto Rico Total'], dtype=object)

In [8]:
df.Age_group.unique()

array(['Under 1 year', '1-4 years', '5-14 years', '15-24 years',
       '25-34 years', '35-44 years', '45-54 years', '55-64 years',
       '65-74 years', '75-84 years', '85 years and over', 'All Ages',
       'Male, all ages', 'Female, all ages', 'All ages'], dtype=object)

In [10]:
states=['Alabama',
       'Alaska', 'Arizona',  'Arkansas',
       'California',  'Colorado',
        'Connecticut',  'Delaware',
       'District of Columbia',
        'Florida', 
       'Georgia', 'Hawaii', 'Idaho',
        'Illinois',  'Indiana',
       'Iowa',  'Kansas', 
       'Kentucky',  'Louisiana', 
       'Maine',  'Maryland', 
       'Massachusetts',  'Michigan',
        'Minnesota', 'Mississippi',
        'Missouri', 'Montana',
        'Nebraska',  'Nevada',
       'New Hampshire', 
       'New Jersey', 'New Mexico', 
       'New York',  'New York City',
        'North Carolina', 
       'North Dakota',  'Ohio', 
       'Oklahoma',  'Oregon', 
       'Pennsylvania', 'Rhode Island',
        'South Carolina', 
       'South Dakota',  'Tennessee',
      'Texas', 'Utah', 
       'Vermont',  'Virginia', 
       'Washington',  'West Virginia',
        'Wisconsin', 'Wyoming',
    'Puerto Rico', ]

In [11]:
age_group=['Under 1 year', '1-4 years', '5-14 years', '15-24 years',
       '25-34 years', '35-44 years', '45-54 years', '55-64 years',
       '65-74 years', '75-84 years', '85 years and over',]

In [12]:
df.loc[0:100:50]

,Data as of,Start_week,End_Week,State,Sex,Age_group,COVID-19_Deaths,Total_Deaths,Pneumonia_Deaths,Pneumonia_COVID-19_Deaths,Influenza_Deaths,P_I_C_deaths,Footnote
0,5/13/20,2/1/20,5/9/20,United States,All Sexes,Under 1 year,4.0,4258.0,37.0,1.0,11.0,51.0,NaN
50,5/13/20,2/1/20,5/9/20,Alabama,Female,Under 1 year,0.0,31.0,0.0,0.0,0.0,0.0,NaN
100,5/13/20,2/1/20,5/9/20,Arizona,Male,85 years and over,63.0,2259.0,176.0,26.0,10.0,223.0,NaN

In [13]:
df=pd.read_csv("Provisional_COVID-19_Death_Counts_by_Sex__Age__and_State.csv",index_col='Age group')

In [14]:
df.head()

,Data as of,Start week,End Week,State,Sex,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
Age group,,,,,,,,,,,,
Under 1 year,5/13/20,2/1/20,5/9/20,United States,All Sexes,4.0,4258.0,37.0,1.0,11.0,51.0,NaN
1-4 years,5/13/20,2/1/20,5/9/20,United States,All Sexes,2.0,832.0,33.0,2.0,35.0,68.0,NaN
5-14 years,5/13/20,2/1/20,5/9/20,United States,All Sexes,6.0,1223.0,41.0,0.0,43.0,90.0,NaN
15-24 years,5/13/20,2/1/20,5/9/20,United States,All Sexes,59.0,7452.0,157.0,21.0,42.0,234.0,NaN
25-34 years,5/13/20,2/1/20,5/9/20,United States,All Sexes,388.0,15975.0,556.0,170.0,135.0,896.0,NaN

In [15]:
df.rename(index = {'Under 1 year':'0-1', '1-4 years':'1-4', '5-14 years':'5-14', '15-24 years':'15-24',
       '25-34 years':'25-34', '35-44 years':'35-44', '45-54 years':'45-54', '55-64 years':'55-64',
       '65-74 years':'65-74', '75-84 years':'75-84', '85 years and over':'<85',}, 
                                 inplace = True)

In [16]:
df.head()

,Data as of,Start week,End Week,State,Sex,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
Age group,,,,,,,,,,,,
0-1,5/13/20,2/1/20,5/9/20,United States,All Sexes,4.0,4258.0,37.0,1.0,11.0,51.0,NaN
1-4,5/13/20,2/1/20,5/9/20,United States,All Sexes,2.0,832.0,33.0,2.0,35.0,68.0,NaN
5-14,5/13/20,2/1/20,5/9/20,United States,All Sexes,6.0,1223.0,41.0,0.0,43.0,90.0,NaN
15-24,5/13/20,2/1/20,5/9/20,United States,All Sexes,59.0,7452.0,157.0,21.0,42.0,234.0,NaN
25-34,5/13/20,2/1/20,5/9/20,United States,All Sexes,388.0,15975.0,556.0,170.0,135.0,896.0,NaN